@model BA_A1.Models.Student

@{
    ViewData["Title"] = "Delete Student";
    Layout = "_Layout";
}

<section class="student-delete">
    <h2>
        Confirm Delete for @Html.DisplayFor(model => model.FirstName) 
        @Html.DisplayFor(model => model.LastName)
    </h2>
    
    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PhoneNumber)</td>
            <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
        </tr>
    </table>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" />
    </form>
    <a asp-action="Index">Back to Student Directory</a>
</section>

